<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.file_upload_service.mapper.DataBaseTablesMapper">
    <select id="selectAll" parameterType="String" resultType="DatabaseTables">
        select table_name,table_type from information_schema.tables where table_schema=#{databaseName};
    </select>
    <select id="selectAllViews" parameterType="String" resultType="DatabaseTables">
        select table_name from information_schema.views where table_schema=#{databaseName};
    </select>
</mapper>